* {
  box-sizing: border-box;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  width: 80vw;
  padding: 5px 0;
  margin: 0 auto;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  height: 100%;
  aspect-ratio: 1/1;
  background-image: url(https://imgs.search.brave.com/lurAzgOA3wu9Go1SZl4glSIwsr2UmdmjsU6N5M7JPsg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZy/ZWVwaWsuY29tLzI1/Ni80MTk0LzQxOTQ2/MDcucG5nP3NlbXQ9/YWlzX2h5YnJpZA);
  background-size: cover;
}
.nav .navlink {
  display: flex;
  justify-content: space-around;
}
.nav .navlink .link {
  color: gray;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.nav .navlink .link:hover {
  color: black;
}
.nav .profile {
  width: 10%;
}
.nav .profile .picture {
  background-image: url(https://images.unsplash.com/photo-1599566150163-29194dcaad36?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.line {
  height: 1px;
  background-color: gray;
  opacity: 0.8;
}

section {
  height: 90vh;
  display: flex;
  justify-content: center;
}
section .main {
  margin-top: 2rem;
  height: 90%;
  width: 80%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section .main .head {
  height: 20%;
}
section .main .head h1 {
  font-weight: 900;
  font-size: 2rem;
}
section .main .head p {
  width: 35%;
  color: gray;
}
section .main .container {
  height: 100%;
  display: flex;
  gap: 1rem;
}
section .main .container .left,
section .main .container .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
section .main .container .left .top,
section .main .container .left .bottom,
section .main .container .right .top,
section .main .container .right .bottom {
  width: 100%;
}
section .main .container .left .top,
section .main .container .right .top {
  height: 45%;
}
section .main .container .left .bottom,
section .main .container .right .bottom {
  height: 55%;
}
section .main .container .left .top,
section .main .container .left .bottom .left,
section .main .container .left .bottom .right,
section .main .container .right .top,
section .main .container .right .bottom .left,
section .main .container .right .bottom .right {
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}
section .main .container .left .top .text,
section .main .container .left .bottom .left .text,
section .main .container .left .bottom .right .text,
section .main .container .right .top .text,
section .main .container .right .bottom .left .text,
section .main .container .right .bottom .right .text {
  color: white;
}
section .main .container .left .top .text p,
section .main .container .left .bottom .left .text p,
section .main .container .left .bottom .right .text p,
section .main .container .right .top .text p,
section .main .container .right .bottom .left .text p,
section .main .container .right .bottom .right .text p {
  opacity: 0.8;
}
section .main .container .left .top .btn,
section .main .container .left .bottom .left .btn,
section .main .container .left .bottom .right .btn,
section .main .container .right .top .btn,
section .main .container .right .bottom .left .btn,
section .main .container .right .bottom .right .btn {
  color: black;
  background-color: white;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 500;
}
section .main .container .left .bottom,
section .main .container .right .bottom {
  display: flex;
  gap: 1rem;
}
section .main .container .right {
  flex-direction: column-reverse;
}
section .main .container .first {
  background-image: url("https://images.unsplash.com/photo-1595434091143-b375ced5fe5c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNvZmZlZSUyMGN1cHxlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  background-size: cover;
}
section .main .container .second {
  background-image: url("https://images.unsplash.com/photo-1520412099551-62b6bafeb5bb?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}
section .main .container .third {
  background-image: url("https://images.unsplash.com/photo-1596180316165-0974ef954468?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}
section .main .container .fourth {
  background-image: url("https://images.unsplash.com/photo-1542451313056-b7c8e626645f?q=80&w=327&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: bottom;
  background-size: cover;
}
section .main .container .fifth {
  background-image: url("https://images.unsplash.com/photo-1599671230521-82bcd563b7b9?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}
section .main .container .sixth {
  background-image: url("https://plus.unsplash.com/premium_photo-1710104938455-33e4f4ebbee3?q=80&w=848&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}